body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background-color: #2a64af;
  padding: 2rem;
  text-align: center;
  color: #222;
}
header h1, p {
  color: #fff;
}

section {
  padding: 1.5rem;
  border-bottom: 1px solid #ddd;
}

section h2 {
  text-align: center;
  color: #2a64af;
}

section  div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ddd;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  width: 90%;
  transition: 1s;
}

section div:hover{
  transition: 1s;
  height: 120px;
}

section h1, h2 {
  color: #0c2a6a;
}
section p{
  color: black;
}

section ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

section li{
  list-style: none;
  margin: 0.5rem 0;
}

footer {
  background-color: #264653;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.paralax{
  background-image: url(/imagens/imagem1.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  background-color: #2a64af;
  padding: 1rem;
  text-align: center;
  transition: all 0.5s ease;
}
nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
nav li {
  list-style: none;
  margin: 0 1rem;
}
nav a{
  text-decoration: none;
  color: #fff;
  transition: all 1s ease;  
}
nav a:hover {
  transition: 0.5s;
  border-radius: 15px;
  padding: 0.5rem;
  background-color: #c9f6f1;
  transform: translateY(-20px);
  color: black;
}
.valor {
  width: 200px;
  height: 200px;
  background-color: #6657ef;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  flex-direction: column;
  overflow: hidden;
}

.valor .titulo,
.valor .descricao {
  position: absolute;
  padding: 0 10px;
  text-align: center;
  transition: transform 0.5s, opacity 0.5s;
}

.valor .descricao {
  font-size: 16px;
  opacity: 0;
  transform: translateY(50px);
  pointer-events: none;
}

.valor:hover .titulo {
  transform: translateY(-50px);
  opacity: 0;
}

.valor:hover .descricao {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.valor:hover {
  transform: scale(1.1);
  height: 200px;
}
.secao {
  padding: 50px 20px;
  scroll-margin-top: 330px;
  width: 100%;
  max-width: 100%;
}
.valores {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 30px;
}