body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background-color: #2a64af;
  padding: 2rem;
  text-align: center;
  color: #222;
}
header h1, p {
  color: #fff;
}

section {
  padding: 1.5rem;
  border-bottom: 1px solid #ddd;
}

section h2 {
  text-align: center;
  color: #2a64af;
}

section  div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ddd;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  width: 90%;
  transition: 1s;
}

section div:hover{
  transition: 1s;
  height: 120px;
}

section h1, h2 {
  color: #0c2a6a;
}
section p{
  color: black;
}

section ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

section li{
  list-style: none;
  margin: 0.5rem 0;
}

footer {
  background-color: #264653;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.paralax{
  background-image: url(/imagens/imagem1.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  background-color: #2a64af;
  padding: 1rem;
  text-align: center;
  transition: all 0.5s ease;
}
nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
nav li {
  list-style: none;
  margin: 0 1rem;
}
nav a{
  text-decoration: none;
  color: #fff;
  transition: all 1s ease;  
}
nav a:hover {
  transition: 0.5s;
  border-radius: 15px;
  padding: 0.5rem;
  background-color: #c9f6f1;
  transform: translateY(-20px);
  color: black;
}
